body {
    background-image: url(img/bg.jpg);
    color: white;
    font-family: Calibri, Arial, Verdana;
}

h1 {
    text-align:center;
}

.jogo {
    width:560px;
    padding:10px;
    position:absolute;
    left:50%;
    margin:0 -300px;
    background-color: #313131;
    border: 5px solid #000;
}

.opcoes {
    width:50%;
    float:left;
}

.tentativas {
    width: 50%;
    float:right;
}

input[type="submit"] {
    padding:10px;
    border:0;
    width:90px;
    border-radius: 15px;
}

input[type="button"] {
    padding:10px;
    border:0;
    width:90px;
    border-radius: 15px;
}